@model ABMCLavadero.Models.VMLavado
@{
    ViewBag.Title = "Alta";
}

<h2>Alta de Lavados</h2>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>Patente</label>
                @Html.TextBoxFor(x => x.LavadoModel.Patente, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(x => x.LavadoModel.Taxi)
                <label>Es taxi</label>
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(x => x.LavadoModel.Habitual)
                <label>Es cliente habitual</label>
            </div>
            <div class="form-group">
                <label>Tipo de Lavado</label>
                @Html.DropDownListFor(x => x.LavadoModel.IdTipo, new SelectList(Model.TiposLavado, "Id", "Nombre"), "SELECCIONE", htmlAttributes: new { @class = "form-control" })
            </div>
            <input type="submit" value="Aceptar" class="btn btn-primary" />
        }
    </div>
    <div class="col-md-2"></div>
</div>