@model List<FinalProgIII.Models.DTOExamen>
@{
    ViewBag.Title = "Index";

}



<h2>Listado Examenes</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Fecha</th>
        <th>Materia</th>
        <th>Nivel</th>
        <th>Nota</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.fecha</td>

            <td>@item.nombre</td>

            <td>@item.nivel</td>

            <td>@item.nota</td>

        </tr>
    }

</table>

